**Irish Energy**

Import Building Energy Rating.

In [1]:
import pandas as pd
ber = pd.read_csv('https://www.seai.ie/technologies/seai-maps/ber-map/BER_data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:

ber.describe()

          Det_house  ...  total_dw_SuspFloor
count  18580.000000  ...        18580.000000
mean       8.647417  ...           36.636975
std        8.980058  ...           26.625656
min        0.000000  ...            1.000000
25%        2.000000  ...           15.000000
50%        6.000000  ...           34.000000
75%       12.000000  ...           51.000000
max      102.000000  ...          439.000000

[8 rows x 504 columns]

In [2]:
import numpy as np
#ber.small_area.str.pad(width = 9, side = "left", fillchar = '0')
#df['column'].astype(str)

ber.small_area =   ber.small_area.astype(str).str.rjust(9,'0')

In [ ]:
ber

                                              small_area  ...  total_dw_SuspFloor
0      217099001/217112002/217112003/217112005/217112...  ...                 169
1      047041005/047041001/047041004/047041002/047041...  ...                  55
2      157041002/157041004/157041003/157041001/157129...  ...                   8
3      268018012/268018015/268018007/268018008/268018013  ...                  44
4                047126002/047126003/047126004/047126005  ...                   8
...                                                  ...  ...                 ...
18575                                          197018002  ...                   1
18576                                          147008002  ...                   1
18577                                          147003002  ...                   1
18578                                          047068003  ...                   1
18579                                          147012002  ...                   1

[18580 rows x 505 columns]

In [3]:
from google.colab import files
import io

uploaded = files.upload()
small = pd.read_csv(io.BytesIO(uploaded['Small_Areas_Generalised_100m_-_OSi_National_Statistical_Boundaries_-_2015.csv']))
# Dataset is now stored in a Pandas Dataframe

Saving Small_Areas_Generalised_100m_-_OSi_National_Statistical_Boundaries_-_2015.csv to Small_Areas_Generalised_100m_-_OSi_National_Statistical_Boundaries_-_2015.csv
User uploaded file "Small_Areas_Generalised_100m_-_OSi_National_Statistical_Boundaries_-_2015.csv" with length 3804549 bytes

In [ ]:
small.describe()

          OBJECTID     AREA  ...   Shape__Area  Shape__Length
count  18641.00000  18641.0  ...  1.864100e+04   18641.000000
mean    9321.00000      0.0  ...  3.768344e+06    7156.082456
std     5381.33752      0.0  ...  7.172291e+06    8808.336810
min        1.00000      0.0  ...  1.502686e-01     141.076338
25%     4661.00000      0.0  ...  4.886427e+04    1000.926503
50%     9321.00000      0.0  ...  1.742850e+05    1980.784427
75%    13981.00000      0.0  ...  5.619334e+06   12857.884941
max    18641.00000      0.0  ...  1.632479e+08   90051.819315

[8 rows x 6 columns]

In [ ]:
small

       OBJECTID  ... Shape__Length
0             1  ...  22550.917409
1             2  ...  21636.947058
2             3  ...  16620.757337
3             4  ...  20382.243504
4             5  ...  65954.539632
...         ...  ...           ...
18636     18637  ...    450.740833
18637     18638  ...    461.136592
18638     18639  ...    401.911539
18639     18640  ...    539.140452
18640     18641  ...    414.904396

[18641 rows x 21 columns]

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [5]:
berMedian = ber[["small_area", "Median_BER"]]
smallareas = small[["SMALL_AREA", "EDNAME", "COUNTYNAME"]]

In [6]:
berarea = pd.merge(berMedian,smallareas, left_on="small_area", right_on = "SMALL_AREA" )
berarea #2084

                                              small_area  ...   COUNTYNAME
0      217099001/217112002/217112003/217112005/217112...  ...    Tipperary
1      047041005/047041001/047041004/047041002/047041...  ...  Cork County
2      157041002/157041004/157041003/157041001/157129...  ...         Mayo
3      268018012/268018015/268018007/268018008/268018013  ...  Dublin City
4                047126002/047126003/047126004/047126005  ...  Cork County
...                                                  ...  ...          ...
18575                                          197018002  ...    Roscommon
18576                                          147008002  ...        Louth
18577                                          147003002  ...        Louth
18578                                          047068003  ...  Cork County
18579                                          147012002  ...        Louth

[18580 rows x 5 columns]

In [13]:
berarea.dup = berarea[berarea.duplicated()]
print(berarea.dup)

Empty DataFrame
Columns: [small_area, Median_BER, SMALL_AREA, EDNAME, COUNTYNAME]
Index: []

In [17]:
na = np.where(pd.isnull(berarea))
na

(array([], dtype=int64), array([], dtype=int64))

from google.colab import files
files.download("data.csv")

In [20]:
from google.colab import files
berarea.to_csv('filename.csv') 
files.download('filename.csv')

In [ ]:
#import requests
#import zipfile
#from io import BytesIO

#r = requests.get('https://www.propertypriceregister.ie/website/npsra/ppr/npsra-ppr.nsf/Downloads/PPR-ALL.zip') 
#zf = ZipFile(BytesIO(r.content))
#ppr = pd.read_csv(zf.open('PPR-ALL.csv'))

In [ ]:
uploaded = files.upload()
ppr = pd.read_csv(io.BytesIO(uploaded['PPR_ALL.csv']))
# Dataset is now stored in a Pandas Dataframe

Saving PPR-ALL.csv to PPR-ALL.csv

In [32]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")
location = geolocator.geocode("175 5th Avenue NYC")
#print(location)
#print(location.latitude, location.longitude)
location

Location(Flatiron Building, 175, 5th Avenue, Manhattan Community Board 5, Manhattan, New York, 10010, United States, (40.741059199999995, -73.98964162240998, 0.0))

In [ ]:
%%shell
jupyter nbconvert --to html /content/analysis.ipynb

[NbConvertApp] Converting notebook /content/analysis.ipynb to html
[NbConvertApp] Writing 353449 bytes to /content/analysis.html